{% extends 'frontend/base.html.twig' %}

{% block body_id 'login' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block header %}
    <header>
        <nav id="globalHeader" class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand " href="/">Cottect</a>
                <a class="btn  btn-outline-light" href="{{ path('frontend_user_register') }}">Register</a>
            </div>
        </nav>
    </header>
{% endblock %}

{% block body %}
    <div id="globalContainer" class="jumbotron login">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            {% include 'frontend/_modules/_form/_login.html.twig' %}
                            <a href="{{ path('frontend_user_forgotten_account') }}" class="card-link">Forgotten account?</a>
                            <a href="{{ path('frontend_user_register') }}" class="card-link">Register for Cottect</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
